.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1088px;
  align-items: center;
  justify-content: center;
}

.sectionStart {
  display: flex;
  gap: 24px;
}

.sectionStart h1 {
  display: inline-block;
  color: #f8f8f2;
  font-size: 60px;
}

.sectionStart span {
  background-color: #ff7ac6;
  padding: 16px 24px;
  border: none;
  border-radius: 16px;
  color: #301c27;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
}

.sectionEnd p {
  width: 672px;
  color: #e5e7eb;
  font-size: 18px;
  line-height: 32px;
}
