.cardBody h2 {
  text-transform: capitalize;
}

.loader {
  width: 1088px;
  height: 1088px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 450px;
}
.join {
  margin-top: 64px;
  justify-content: flex-end;
  display: flex;
  height: 48px;
}

.joinItem {
  border: 0.8px solid transparent; /* Add a unit to the border width, e.g., 0.8px */
  background-color: #181920;
  height: 48px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: white;
  font-weight: 500;
  animation-delay: 0;
  animation-duration: 0.25s;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-out;
  margin-left: -1;
}

.joinItem:hover,
.joinItem:focus {
  background-color: #09090c;
}

.joinItem:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.joinItem:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.imgProduct {
  width: 320px;
  height: 192px;
  border-radius: 0.75rem;
}

.mainWrapper {
  display: flex;
  justify-content: space-between;
}

.mainLeft h1 {
  color: #f8f8f2;
  width: 480.8px;
  font-size: 3.75rem;
  line-height: 1;
}

.mainLeft p {
  color: #f8f8f2;
  width: 496px;
  margin-top: 32px;
  line-height: 32px;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}

.mainLeft button {
  height: 48px;
  margin-top: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ff7ac6;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
}

.carousel {
  width: 496px;
  border-radius: 16px;
  padding: 16px 0 16px 16px;
  background-color: #414558;
  display: flex;
  overflow-x: scroll;
  font-feature-settings: normal;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  white-space: nowrap;
}

.carouselItem {
  margin-right: 16px;
}

.carouselImages {
  width: 320px;
  height: 416px;
  border-radius: 16px;
  object-fit: cover;
}

.productsWrapper {
  padding-top: 6rem;
}

.featured {
  width: 1088px;
  padding-bottom: 20px;
  border-bottom: 0.8px solid #09090c;
}

.featured h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: white;
}

.cardWrapper {
  padding-top: 48px;
  max-width: 1088px;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 342.4px 342.4px 342.4px; */
  justify-content: space-between;
}

.card {
  padding: 16px;
  width: 342px;
  border-radius: 16px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0),
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.images {
  width: 320px;
  height: 192px;
  border-radius: 0.75rem;
}

.cardBody {
  padding: 32px 16px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cardBody h2 {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #e5e7eb;
  font-weight: 600;
  letter-spacing: 1px;
}

.cardBody span {
  color: #bf95f9;
}
